.container-box {
    /* height: calc(100% - 56px); */
    height: 100vh !important;
    max-height: 100vh !important;
    max-width: 100% !important;
    margin: 0px !important;
    padding: 30px 30px !important;
}

.btn {
    border-radius: 18px !important;
    background-color: lightblue !important;
    /* background-color: rgb(141, 150, 190) !important; */
    /* background-color: rgb(206, 193, 242) !important; */
    /* color: #242424 !important; */
    border: 0px !important;
    height: 38px;
    font-weight: 600 !important;
    text-wrap: nowrap;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 18px;
    height: 40px;
    width: 100%;
    max-width: 400px;
}

.form-container-input {
    width: 100%;
    display: flex;
    align-items: center;
    border: none !important;
    border-radius: 18px;
    background-color: transparent !important;
    padding: 0px 8px;
}
.form-container-input:focus {
    border: none !important;
    border-color: transparent !important;
    border-radius: 18px;
    background-color: transparent !important;
    outline: none;
}

.form-container-btn {
    margin: 0px !important;
}
