.container-box {
    /* height: calc(100% - 56px); */
    height: 100vh !important;
    max-height: 100vh !important;
    max-width: 100% !important;
    margin: 0px !important;
    padding: 30px 0px !important;
}

.main-box {
    height: calc(100% - 175px);
    width: 100%;

    padding: 0px 30px;
}

.btn {
    border-radius: 18px !important;
    background-color: lightblue !important;
    /* background-color: rgb(141, 150, 190) !important; */
    /* background-color: rgb(206, 193, 242) !important; */
    /* color: #242424 !important; */
    border: 0px !important;
    height: 38px;
    font-weight: 600 !important;
    text-wrap: nowrap;
}
.btn-control-panel {
    background-color: rgba(0, 5, 87, 1) !important;
    height: 50px !important;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 18px;
    height: 40px;
    width: 100%;
    max-width: 400px;
}

.form-container-input {
    width: 100%;
    display: flex;
    align-items: center;
    border: none !important;
    border-radius: 18px;
    background-color: transparent !important;
    padding: 0px 8px;
}
.form-container-input:focus {
    border: none !important;
    border-color: transparent !important;
    border-radius: 18px;
    background-color: transparent !important;
    outline: none;
}

.form-container-btn {
    margin: 0px !important;
}

/* NAVBAR */
.navbar {
    width: 100vw;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(27, 27, 27);
    background: linear-gradient(
        180deg,
        rgb(26, 31, 53) 45%,
        rgba(0, 5, 87, 1) 100%
    );
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 30px !important;
}
.category-navbar {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.category-navbar p,
.paragraph {
    visibility: 50%;
    margin-bottom: 12px;
}

/* CONTROL PANEL */
.control-panel-box {
    width: 100vw !important;
    height: 50px !important;
    padding: 0px 30px;
}
.control-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 5, 87, 1);
    /* background: linear-gradient(
        0deg,
        rgb(26, 31, 53) 45%,
        rgba(0, 5, 87, 1) 100%
    ); */
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border-radius: 30px;
    padding: 0px 30px !important;
}

.btn-ready-toggle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*  */
}
