.round-box {
    display: flex;
}

.round-quantity-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
.round-quantity-box h1 {
    padding: 0px;
    margin: 0px;
}

.box-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}
