/* NAVBAR */
/* .navbar {
    width: 100vw;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(27, 27, 27);
    background: linear-gradient(
        180deg,
        rgb(26, 31, 53) 0%,
        rgba(0, 5, 87, 1) 100%
    );
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 30px !important;
} */

.navbar {
    width: 100vw;
    height: 100px !important;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 30px !important;

    -webkit-box-shadow: 1px 4px 24px 0px rgb(0, 0, 0);
    -moz-box-shadow: 1px 4px 24px 0px rgb(0, 0, 0);
    box-shadow: 1px 4px 24px 0px rgb(0, 0, 0);
}

.category-navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.category-navbar p,
.paragraph {
    visibility: 50%;
    margin-bottom: 12px;
}
